<% index_i = 0 %>
<% @problem_lists.each do |problem_list| %>
    <% case (index_i % 3) %>
<% when 0 %>
        <% this_table_align = "left_problem_list_align" %>
    <% when 1 %>
        <% this_table_align = "middle_problem_list_align" %>
    <% else %>
        <% this_table_align = "right_problem_list_align" %>
    <% end %>

    <table class="table_problem_list_short_view <%= this_table_align %>" style="top: <%= (index_i / 3) * 230 %>px">
        <tr>
            <td colspan="7" align="center" class="problem_list_name">
                <%= link_to problem_list.title, problem_list, class: "td_link" %>
            </td>
        </tr>
        <tr class="blank_tr"></tr>
        <tr>
            <td></td>
            <% problem_list.problems.each do |problem| %>
                <td class="problem_number">
                    <%= link_to problem.number, problem_path(problem), class: "td_link" %>
                </td>
            <% end %>
        </tr>
        <% Student.all.each do |student| %>
            <tr>
                <td class="student_name">
                    <%= link_to student.name, student_path(student), class: "td_link" %>
                </td>
                <% problem_list.problems.each do |problem| %>
                    <% cur = problem.results.select { |result| result.student_id == student.id } %>
                    <% if cur.count > 0 %>
                        <% result = cur.first %>
                        <% td_color = result.get_color %>
                        <td class="result_status" style="background-color: <%= "#%02x%02x%02x" % [td_color.red, td_color.green, td_color.blue] %>">
                            <%= link_to result.status, result_path(result), class: "td_link" %>
                        </td>
                    <% else %>
                        <td class="result_status" style="background-color: grey">
                            <%= link_to "&nbsp;".html_safe, new_result_path(problem_id: problem.id, student_id: student.id), class: "td_link" %>
                        </td>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
        <tr class="blank_tr"></tr>

    </table>
    <% index_i += 1 %>
<% end %>

<% if (index_i % 3) == 0 %>
    <div class="empty_box"></div>
<% end %>

<a href="<%= new_problem_list_path %>" class="add_button_cross">

    <div class="add_button_cross_help1"></div>
    <div class="add_button_cross_help2"></div>
</a>