<% index_i = 0 %>
<% @problem_lists.each do |problem_list| %>
    <% case (index_i % 3) %>
<% when 0 %>
        <% this_table_align = "left_problem_list_align" %>
    <% when 1 %>
        <% this_table_align = "middle_problem_list_align" %>
    <% else %>
        <% this_table_align = "right_problem_list_align" %>
    <% end %>

    <% unless adminned %>
        <a href="<%= problem_list_path(problem_list) %>" class="table_link">
    <% end %>

    <table class="table_problem_list_short_view <%= this_table_align %>" style="top: <%= (index_i / 3) * 230 %>px">
        <tr>
            <td colspan="7" align="center" class="problem_list_name">
                <%= link_to_if adminned, problem_list.title, problem_list, class: "td_link" %>
            </td>
        </tr>
        <tr>
            <td></td>
            <% problem_list.problems.reverse_each do |problem| %>
                <td align="center" class="problem_number">
                    <%= link_to_if adminned, ("&nbsp;".html_safe + problem.number.to_s + "&nbsp;".html_safe), problem_path(problem), class: "td_link" %>
                </td>
            <% end %>
        </tr>
        <% User.all.each do |user| %>
            <% unless user.name == "dima" %>
                <tr>
                    <td align="center" class="user_name">
                        <%= link_to_if adminned, ("&nbsp;".html_safe + user.name + "&nbsp;".html_safe), user_path(user), class: "td_link" %>
                    </td>
                    <% problem_list.problems.reverse_each do |problem| %>
                        <% cur = problem.results.select { |result| result.user_id == user.id } %>
                        <% if cur.count > 0 %>
                            <% result = cur.first %>
                            <% td_color = result.get_color %>
                            <td align="center" class="result_status" style="background-color: <%= "#%02x%02x%02x" % [td_color.red, td_color.green, td_color.blue] %>">
                                <%= link_to_if adminned, result.status, result_path(result), class: "td_link" %>
                            </td>
                        <% else %>
                            <td align="center" class="result_status" style="background-color: grey">
                                <%= link_to_if adminned, "&nbsp;".html_safe, new_result_path(problem_id: problem.id, user_id: user.id), class: "td_link" %>
                            </td>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>
        <% end %>
        <tr class="blank_tr"></tr>

    </table>

    <% unless adminned %>
        </a>
    <% end %>

    <% index_i += 1 %>
<% end %>

<style>
    .main_body {
        min-height: <%= (((index_i - 1) / 3 + 1) * 230 + 130).to_s + "px;" %>
    }
</style>


<a href="<%= new_answer_path %>" class="add_button_cross right_bottom">
    <div class="add_button_cross_help1"></div>
    <div class="add_button_cross_help2"></div>
</a>