<h1>Problem Lists</h1>

<% @problem_lists.each do |problem_list| %>
    <table>
        <tr>
            <td colspan="7" align="center" class="problem_list_name">
                <%= link_to problem_list.title, problem_list, class: "td_link" %>
            </td>
        </tr>
        <tr class="blank_tr"></tr>
        <tr>
            <td></td>
            <% problem_list.problems.each do |problem| %>
                <td class="problem_number">
                    <%= link_to problem.number, problem_path(problem), class: "td_link" %>
                </td>
            <% end %>
        </tr>
        <% Student.all.each do |student| %>
            <tr>
                <td class="student_name">
                    <%= link_to student.name, student_path(student), class: "td_link" %>
                </td>
                <% problem_list.problems.each do |problem| %>
                    <% cur = problem.results.select { |result| result.student_id == student.id } %>
                    <% if cur.count > 0 %>
                        <% result = cur.first %>
                        <% td_color = result.get_color %>
                        <td class="result_status" style="background-color: <%= "#%02x%02x%02x" % [td_color.red, td_color.green, td_color.blue] %>">
                            <%= link_to result.status, result_path(result), class: "td_link" %>
                        </td>
                    <% else %>
                        <td class="result_status" style="background-color: grey">
                            <%= link_to "&nbsp;".html_safe, new_result_path(problem_id: problem.id, student_id: student.id), class: "td_link" %>
                        </td>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
        <tr class="blank_tr"></tr>

    </table>
    <br>
<% end %>

<%= link_to 'New Problem list', new_problem_list_path %>
