<header class="problem_list_header">

    <h1>
        <%= @problem_list.title %>
    </h1>

</header>

<p align="center">
    <%= @problem_list.description %>
</p>

<div>
    <% @problem_list.problems.each do |problem| %>
        <div>
            <span class="plain_bold_text">
                <%= problem.number %>
            </span>
            <span>
                <%= problem.body %>
            </span>
            <% if problem.figure.file? %>
                <div class="centering_image">
                    <%= image_tag problem.figure.url %>
                </div>
            <% end %>
        </div>
        <br>
    <% end %>
</div>

<a href="<%= new_answer_path %>" class="add_button_cross right_float">
    <div class="add_button_cross_help1"></div>
    <div class="add_button_cross_help2"></div>
</a>

<% if adminned %>
    <div class="system_right_console">
        <%= link_to 'New Problem', new_problem_path(problem_list_id: @problem_list.id) %>
        <br>
        <%= link_to 'Edit', edit_problem_list_path(@problem_list) %>
        <br>
        <%= link_to 'Destroy', @problem_list, method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
<% end %>


