<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @problem_list.title %>
</p>

<p>
    <strong>Description:</strong>
    <%= @problem_list.description %>
</p>

<p>
    <strong>id:</strong>
    <%= @problem_list.id %>
</p>

<p>
    <% @problem_list.problems.each do |problem| %>
    <%= link_to problem.number, problem_path(problem) %>
    <% end %>
</p>
<%= link_to 'New Problem', new_problem_path(problem_list_id: @problem_list.id) %>
<br>
<br>
<%= link_to 'Edit', edit_problem_list_path(@problem_list) %> |
<%= link_to 'Destroy', @problem_list, method: :delete, data: {confirm: 'Are you sure?'} %> |
<%= link_to 'Back', problem_lists_path %>
