<h1>Listing problems</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Body</th>
      <th>Problem list</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.number %></td>
        <td><%= problem.body %></td>
        <td><%= problem.problem_list_id %></td>
        <td><%= link_to 'Show', problem %></td>
        <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
        <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Problem', new_problem_path %>