<p>
    <strong>Number:</strong>
    <%= @problem.number %>
</p>

<p>
    <strong>Body:</strong>
    <%= @problem.body %>
</p>

<p>
    <strong>id:</strong>
    <%= @problem.id %>
</p>

<p>
    <strong>Problem list:</strong>
    <%= link_to @problem.problem_list_id, problem_list_path(@problem.problem_list) %>
    <strong> &nbsp;&nbsp;&nbsp;(
        <%= link_to @problem.problem_list.title, problem_list_path(@problem.problem_list) %> )
    </strong>
</p>

<%= link_to 'New Result', new_result_path(problem_id: @problem.id) %>
<br>
<br>
<%= link_to 'Destroy', @problem, method: :delete, data: {confirm: 'Are you sure?'} %>
<br>
<br>
<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
<br>
<br>

<div>
    <% if @problem.figure.file? %>
        <div class="centering_image">
            <%= image_tag @problem.figure.url %>
        </div>
    <% else %>
        <strong>Problem hasn't got a picture.</strong>
    <% end %>
</div>
