<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @result.status %>
</p>

<p>
  <strong>Student:</strong>
  <%= @result.student_id %>
    <strong> &nbsp;&nbsp;&nbsp;(
        <%= @result.student.name %>  )
    </strong>
</p>

<p>
  <strong>Problem:</strong>
  <%= @result.problem_id %>
    <strong> &nbsp;&nbsp;&nbsp;(
        <%= @result.problem.number %>  )
    </strong>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
