<!DOCTYPE html>
<html>
<head>
    <title>TestScaffoldMath</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<header>
    <div class="container">
        <div class="left">
            abc
        </div>
        <div class="right">
            xsa
        </div>
    </div>
</header>

<br>

<body>

<%= yield %>
<br>
<br>
<br>

<%= link_to 'Problem Lists', problem_lists_path %>


</body>
<footer>
    \[\int_a^b f(x) dx=F(b)-F(a)\]
</footer>
</html>
