<!DOCTYPE html>
<html>
<head>
    <title>TestScaffoldMath</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<header>
    <div class="container">
        <div class="left">
        </div>
        <div class="right">
            <%= link_to 'Students', students_path %>
            <%= link_to 'Colors', result_colors_path %>
        </div>
    </div>
</header>

<br>

<body>

<%= yield %>

</body>

<footer>
    <div align="center">
        <%= link_to 'Problem Lists', problem_lists_path, class: "centered_text bold_text" %>
    </div>
    \[\int_a^b f(x) dx=F(b)-F(a)\]
</footer>
</html>
