<!DOCTYPE html>
<html>
<head>
    <title>TestScaffoldMath</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body class="main_background">

<header class="main_header container">
    <div class="main_title">
        <h1>Problem Lists</h1>
    </div>
    <nav class="main_nav_atop_panel">
        <%= link_to 'Students', students_path %>
        <%= link_to 'Colors', result_colors_path %>
    </nav>
</header>

<div class="main_body container">

    <%= yield %>

</div>

<footer class="main_footer container">
    <div align="center">
        <strong>
            <%= link_to 'Problem Lists', problem_lists_path %>
        </strong>
    </div>
    \[\int_a^b f(x) dx=F(b)-F(a)\]
</footer>

</body>

</html>
