<!DOCTYPE html>
<html>
<head>
    <title>TestScaffoldMath</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body class="main_background">

<header class="main_header container">
    <div class="main_title">
        <%= link_to 'Problem Lists', problem_lists_path %>
    </div>
    <nav class="main_nav_atop_panel">
        <% if session.has_key?(:current_user_id) && session[:current_user_id] %>
            Hello,
            <%= UsersController.get_cur_user(session[:current_user_id]).name %>
        <% end %>
        <%= link_to 'Sign In', sign_in_users_path, class: "main_header_links" %>
        <%= link_to 'Sign Up', new_user_path, class: "main_header_links" %>
        <%= link_to 'Users', users_path, class: "main_header_links" %>
        <%= link_to 'Colors', result_colors_path, class: "main_header_links" %>
        <%= link_to 'Logout', logout_problem_lists_path, class: "main_header_links" %>
    </nav>
</header>

<div class="main_body container">

    <%= yield %>

</div>
<br>
<footer class="main_footer container">
    <div align="center">
        <strong>
            <%= link_to 'Problem Lists', problem_lists_path %>
        </strong>
    </div>
    \[\int_a^b f(x) dx=F(b)-F(a)\]
</footer>

</body>

</html>
